:root {
    --bg-color: rgb(250, 250, 250);
    --text-color: rgb(160, 160, 160);
    --heading-color: rgb(10, 10, 10);
    --font-fam: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-xsm: 1.4rem;
    --font-sm: 1.6rem;
    --font-md: 1.8rem;
    --font-lg: 2.5rem;
    --white: rgb(255, 255, 255);
}

.dark-theme {
    --bg-color: rgb(10, 10, 10);
    --text-color: rgb(160, 160, 160);
    --heading-color: rgb(255, 255, 255);
}

html {
    font-size: 62.5%; /*10px*/
}

h1, h2, h3 {
    color: var(--heading-color);
}

p, .text-select {
    color: var(--text-color);
    font-size: var(--font-sm)
}

P::selection {
    background-color: rgb(0, 199, 199);
    color: var(--white)
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-fam);
    padding-inline: 10px;
}

h1 {
    font-size: var(--font-sm);
    font-weight: normal;
}

h1 a {
    text-decoration: none;
    color: var(--heading-color)
}

h2 {
    clear: both;
    font-size: var(--font-lg);
    margin-bottom: 0;
}

h3 {
    font-size: var(--font-md);
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: var(--font-xsm);
    
}

ul.tags {
    float: right;
}

button {
    background: transparent;
    border: 0;
}

.fa-home {
    color: var(--heading-color)
}

header.main {
    display: flex;
    justify-content: space-between;
}

.blog-details, .read-time-date-posted {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.read-time-date-posted {
    justify-content: unset;
    gap: 5px;
}

.read-time-date-posted p {
    font-size: var(--font-xsm);
}

ul a {
    text-decoration: none;
}

ul.tags a {
    color: rgb(7, 7, 232);
}

hr {
    clear: both;
}
.text-container{
    padding: 10px;
    margin-top: -6px;
    background-color: var(--white);
}

.blog-text {
    padding-inline: 10px;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

.blog-text img.blog-image {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.discover-more {
    margin-block: 30px;
}
.discover-more ul {
    padding-left: 10px;
    flex-direction: column;
    gap: 8px;
}

.discover-more a {
    color: var(--text-color);
}

.discover-more a:hover {
    text-decoration: underline;
}

.text-is-selected, .share-dialog {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--white);
}

.text-is-selected {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    width: 60px;
    box-shadow: 2px 2px 5px var(--text-color);
    display: none;
    gap: 10px;
}

.share-container {
    position: relative;
}

#twitter-share, #instagram-share {
    display: none;
    position: absolute;
}

#instagram-share.show {
    transform: translate(20px, -20px);
    transition: transform 2s ease-out;
}

#twitter-share.show {
    transform: translate(-15px, -20px);
    transition: transform 2s ease-out;
}

/* 348, 620 910 1220 */
@media (min-width: 348px) {
    .container {
        max-width: 348px;
        margin: 0 auto;
    }

}
@media (min-width: 620px) {
    .container {
        max-width: 620px;
        margin: 0 auto;
    }

    .text-container {
        padding-block: 5px;
        padding-inline: 40px;
    }

    .blog-text img.blog-image {
        width: 400px;
    }

    .blog-text {
        max-width: 400px;
    }

}
@media (min-width: 910px) {
    .container {
        max-width: 910;
        margin: 0 auto;
    }

}
@media (min-width: 1220px) {
    .container {
        max-width: 1220;
        margin: 0 auto;
    }

}